<div style="padding: 4%;">
  <!-- LOGIN CARD -->
  <mat-card class="login-card">
    <mat-card-content>
      <div class="row" style="height: -webkit-fill-available;">
        <div class="col-md-6">
          <h4 *ngIf="isSignIn && !showForgotPassword" [@slideInAnimation]>Login to your Account</h4>
          <div *ngIf="isSignIn && !showForgotPassword" [@slideInAnimation] style="border: 1px dotted blue">
            <span>
              Test Credentials: <br>
              Username : buzzzz <br>
              Password : 12345678
            </span>
          </div>
          <div *ngIf="!isSignIn || showForgotPassword" [@slideInAnimation]>
            <h4 *ngIf="!isSignIn && !showForgotPassword">Create an Account</h4>
            <h4 *ngIf="showForgotPassword">Reset your Password</h4>
            <i style="float: left; cursor: pointer;" class="fa fa-2x fa-arrow-circle-left" (click)="onClickBack()"
              aria-hidden="true"></i>
          </div>
          <div *ngIf="isSignIn && !showForgotPassword" class="signin-form" [@slideInAnimation]>
            <app-signin (forgotPasswordClicked)="forgotPasswordClicked()"></app-signin>
          </div>

          <div *ngIf="!isSignIn && !showForgotPassword" class="signup-form" [@slideInAnimation]>
            <app-signup></app-signup>
          </div>

          <div *ngIf="showForgotPassword" class="signup-form" [@slideInAnimation]>
            <app-forgot-password></app-forgot-password>
          </div>

          <div *ngIf="isSignIn && !showForgotPassword" [@slideInAnimation]>
            <p>Not a member? <a (click)="onClickSignUp()" routerLink="">Sign Up</a>, it's Free :)</p>
          </div>
        </div>
        <div class="col-md-6 login-logo-half">
          <div>
            <img src="./../../assets/img/stackcl_logo.jpg" alt="Brand Logo" style="width: 80%;">
          </div>
          <div style="margin: 10px;">
            <ul>
              <li>
                StackCL is a place to gain and share knowledge. It's a platform to ask questions and connect with people
                who contribute unique insights and quality answers.
              </li>
              <br>
              <span>More Coming Soon...</span>
            </ul>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Support Section -->
  <div *ngIf="!showSupport">
    <i class="fa fa-4x fa-info-circle support-button" (click)="onClickSupport()" aria-hidden="true"></i>
  </div>

  <mat-card class="example-card support-card" *ngIf="showSupport" [@fadeInAnimation]>
    <div class="row">
      <div class="col-md-5">
        <span id="contact-us-tab" class="support-tabs-header" (click)="contactOrFeedbackChange($event)" [ngStyle]="{
          'color': contactOrFeedback === 'contact-us-tab' ? 'blue' : 'black',
          'font-weight': contactOrFeedback === 'contact-us-tab' ? 'bold' : 'normal'
        }">Contact Us</span>
      </div>
      <div class="col-md-5">
        <span id="feedback-tab" class="support-tabs-header" (click)="contactOrFeedbackChange($event)" [ngStyle]="{
          'color': contactOrFeedback === 'feedback-tab' ? 'blue' : 'black',
          'font-weight': contactOrFeedback === 'feedback-tab' ? 'bold' : 'normal'
        }">Feedback</span>
      </div>
      <div class="col-md-2">
        <i class="fa fa-window-close support-tabs-header" (click)="onClickSupport()" aria-hidden="true"></i>
      </div>
    </div>
    <hr size="2" color="black">
    <div class="row support-tabs-content">
      <div *ngIf="contactOrFeedback === 'contact-us-tab'" class="col-md-12">
        <p>
          Email ID: support@stackcl.com
        </p>
        <p>
          Phone No.: +91 99999 99999
        </p>
        <p style="bottom: 10px; position: fixed;">
          Copyright &#169; STACK CL Developers
        </p>
      </div>
      <div *ngIf="contactOrFeedback !== 'contact-us-tab'" class="col-md-12">
        <form>
          <mat-form-field class="comment-full-width">
            <textarea matInput placeholder="Leave a comment" [formControl]="commentInput" required></textarea>
          </mat-form-field>
          <p>
            Rating:
          </p>
          <app-rating (ratingClick)="getRating($event)"></app-rating>
        </form>
      </div>
    </div>
    <mat-card-actions *ngIf="contactOrFeedback === 'feedback-tab'">
      <button mat-raised-button color="primary" (click)="onClickFeedbackSubmit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</div>