.login-card {
    width: 70vw;
    height: 85vh;
    overflow: hidden;
}

.signin-form, .signup-form {
    margin-top: 15%;
}

.vertical-divider {
    float: left;
    width: 2px;
    min-height: 100%;
}

.login-logo-half {
    border-left: 2px solid black;
}

.support-button {
    cursor: pointer;
	padding: 10px;
	color: black;
	position: fixed;
	bottom: 20px;
    right: 20px;
}

.support-card {
    width: 320px;
    height: 380px;
    max-height: 380px;
    padding: 10px;
	position: fixed;
	bottom: 20px;
    right: 20px;
    text-align: center;
    border: 2px solid black;
}

.support-tabs-header {
    cursor: pointer;
}
.support-tabs-content {
    font-size: 15px;
    text-align: left;
}

.comment-full-width {
    width: 100%;
    min-width: 250px;
}