.login-card {
    margin: 20px;
    width: 70vw;
    height: 85vh;
    overflow: hidden;
}
  
.login-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.signin-form, .signup-form {
    margin-top: 15%;
}

.vertical-divider {
    float: left;
    width: 2px;
    min-height: 100%;
}

.login-logo-half {
    border-left: 2px solid black;
}