<div class="container">
  <!-- LOGIN CARD -->
  <mat-card class="login-card">
    <mat-card-content>
      <div class="row" style="height: -webkit-fill-available;">
        <div class="col-md-6">
          <h4 *ngIf="isSignIn">Login to your Account</h4>
          <div *ngIf="!isSignIn">
            <h4>Create an Account</h4>
            <button mat-button style="float: left; border: 2px solid lightblue;"
              (click)="isSignIn=!isSignIn">Back</button>
          </div>
          <div *ngIf="isSignIn" class="signin-form">
            <app-signin></app-signin>
          </div>

          <div *ngIf="!isSignIn" class="signup-form">
            <app-signup></app-signup>
          </div>

          <div *ngIf="isSignIn">
            <p>Not a member? <a (click)="onClickSignUp()" routerLink="">Sign Up</a>, it's Free :)</p>
          </div>
        </div>
        <div class="col-md-6 login-logo-half">
          <div style="margin-top: 40%;">
            <img src="./../../assets/stackcl_logo.jpg" alt="Brand Logo">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
