<div class="container">
  <!-- LOGIN CARD -->
  <mat-card class="login-card">
    <mat-card-content>
      <div class="row" style="height: -webkit-fill-available;">
        <div class="col-md-6">
          <h4 *ngIf="isSignIn" [@slideInAnimation]>Login to your Account</h4>
          <div *ngIf="!isSignIn" [@slideInAnimation]>
            <h4>Create an Account</h4>
            <button mat-button style="float: left; border: 2px solid lightblue;" (click)="isSignIn=!isSignIn">
              <i class="fa fa-arrow-circle-left" aria-hidden="true"></i><span>Back</span>
            </button>
          </div>
          <div *ngIf="isSignIn" class="signin-form" [@slideInAnimation]>
            <app-signin></app-signin>
          </div>

          <div *ngIf="!isSignIn" class="signup-form" [@slideInAnimation]>
            <app-signup></app-signup>
          </div>

          <div *ngIf="isSignIn" [@slideInAnimation]>
            <p>Not a member? <a (click)="onClickSignUp()" routerLink="">Sign Up</a>, it's Free :)</p>
          </div>
        </div>
        <div class="col-md-6 login-logo-half">
          <div>
            <img src="./../../assets/img/stackcl_logo.jpg" alt="Brand Logo" style="width: 80%;">
          </div>
          <div style="margin: 10px;">
            <ul>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor bibendum est, eu imperdiet
                sapien interdum nec.
              </li>
              <li>
                Duis sollicitudin scelerisque tortor, nec eleifend ipsum mattis vitae. Nullam ut ex
                ultricies, malesuada lacus vitae, cursus lectus. Curabitur vulputate felis eget metus aliquet, quis
                tristique eros efficitur. Integer feugiat imperdiet odio eu congue. Curabitur pharetra molestie elit.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!--Support Section -->
  <div *ngIf="!showSupport">
    <i class="fa fa-4x fa-info-circle support-button" (click)="onClickSupport()" aria-hidden="true"></i>
  </div>

  <mat-card class="example-card support-card" *ngIf="showSupport" [@fadeInAnimation]>
    <div class="row">
      <div class="col-md-5">
        <span id="contact-us-tab" class="support-tabs-header" (click)="contactOrFeedbackChange($event)" [ngStyle]="{
          'color': contactOrFeedback === 'contact-us-tab' ? 'blue' : 'black',
          'font-weight': contactOrFeedback === 'contact-us-tab' ? 'bold' : 'normal'
        }">Contact Us</span>
      </div>
      <div class="col-md-5">
        <span id="feedback-tab" class="support-tabs-header" (click)="contactOrFeedbackChange($event)" [ngStyle]="{
          'color': contactOrFeedback === 'feedback-tab' ? 'blue' : 'black',
          'font-weight': contactOrFeedback === 'feedback-tab' ? 'bold' : 'normal'
        }">Feedback</span>
      </div>
      <div class="col-md-2">
        <i class="fa fa-window-close support-tabs-header" (click)="onClickSupport()" aria-hidden="true"></i>
      </div>
    </div>
    <hr size="2" color="black">
    <div class="row support-tabs-content">
      <div *ngIf="contactOrFeedback === 'contact-us-tab'" class="col-md-12">
        <p>
          Email ID: support@stackcl.com
        </p>
        <p>
          Phone No.: +91 99999 99999
        </p>
        <p style="bottom: 10px; position: fixed;">
          Copyright &#169; STACK CL Developers
        </p>
      </div>
      <div *ngIf="contactOrFeedback !== 'contact-us-tab'" class="col-md-12">
        <form>
          <mat-form-field class="comment-full-width">
            <textarea matInput placeholder="Leave a comment" [formControl]="commentInput" required></textarea>
          </mat-form-field>
          <p>
            Rating:
          </p>
          <app-rating (ratingClick)="getRating($event)"></app-rating>
        </form>
      </div>
    </div>
    <mat-card-actions *ngIf="contactOrFeedback === 'feedback-tab'">
      <button mat-button (click)="onClickFeedbackSubmit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>

</div>