<form name="signup-form" style="margin-top: -20px;">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="First Name" [formControl]="fname" required autocomplete="off">
    <mat-error *ngIf="fname.invalid">Required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Last Name" [formControl]="lname" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="email" required autocomplete="off">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Setup Username (At least 6 characters)" [formControl]="userName" required autocomplete="off">
      <mat-error *ngIf="userName.errors?.required">Required</mat-error>
      <mat-error *ngIf="userName.invalid && userName.errors?.invalidUsername">Should be at least 6 characters long
      </mat-error>
    </mat-form-field>
    <i style="color: green" class="fa fa-check-circle" *ngIf="userName.status === 'VALID'" aria-hidden="true"></i>
    <i style="color: red" class="fa fa-exclamation-triangle" *ngIf="userName.errors && userName.errors.usernameInUse || userName.invalid" aria-hidden="true"></i>
    <i *ngIf="userName.status !== 'VALID' && !(userName.errors && userName.errors.usernameInUse || userName.invalid)" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" [formControl]="passwd" required
        autocomplete="off">
      <mat-error *ngIf="passwd.errors?.required">Required</mat-error>
      <mat-error *ngIf="passwd.invalid && passwd.errors?.invalidPass">Should be at least 8 characters long</mat-error>
    </mat-form-field>
    <i class="fa" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}" (click)="hide = !hide" aria-hidden="true"></i>
  </div>
  <br>
  <mat-checkbox [(ngModel)]="termsAccepted" name="termsAccepted">I accept the <a routerLink="">Terms & Conditions</a>*
  </mat-checkbox>
  <br>
  <mat-card-actions>
    <button [disabled]="!termsAccepted || signUpForm.invalid" mat-raised-button color="primary" (click)="onClickSignUp()">Sign
      Up!</button>
  </mat-card-actions>
</form>