<form name="signup-form">
  <span>Please provide your registered Email ID. The new password will be sent to this Email ID. Login using that
    password and change it as soon as possible.</span>
  <br>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="email" required autocomplete="off">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>

  <mat-card-actions>
    <button mat-button style="border: 1px solid blue;" (click)="onClickSend()">Send New Password</button>
  </mat-card-actions>
  <div *ngIf="errFlag" style="color: red">
    <span>
      Email ID not found.
    </span>
    <br>
    <span>OR</span>
    <br>
    <span>
      Password reset request already made. Check your Mail-box for the new password. Else wait for 1 day to put a new request.
    </span>
  </div>
  <div *ngIf="successFlag" style="color: green">
    <span>
      Password Updated. Please check your Mail-box for the new password (check spam folder as well). 
    </span>
  </div>
</form>