<form name="signin-form">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Username or Email" [formControl]="username" autocomplete="off" required>
    <mat-error *ngIf="username.invalid">Required</mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <div>
      <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" [formControl]="passwd"
        autocomplete="off" required>
      <i style="float: right;" class="fa" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}" (click)="hide = !hide"
        aria-hidden="true"></i>
    </div>
    <mat-error *ngIf="passwd.errors?.required">Required</mat-error>
    <mat-error *ngIf="passwd.invalid && passwd.errors?.invalidPass">Should be at least 8 characters long</mat-error>
  </mat-form-field>
  <br>
  <div>
    <a routerLink="">Forgot Password?</a>
  </div>
  <br>
  <mat-card-actions>
    <button mat-button (click)="onClickSignIn()" style="border: 1px solid blue;">Sign In</button>
  </mat-card-actions>
  <br>
</form>