<div>
    <div class="row">
        <div id="sidePanelDiv" class="col-md-2">
            <div id="profileSection" class="row">
                <div class="col-md-12">
                    <div id="profilePicture">

                    </div>
                    <span style="color: white;"></span>{{userData.firstName}} {{userData.lastName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            Dashboard
                        </li>
                        <li>
                            Q&A Section
                        </li>
                        <li>
                            Discussion Section
                        </li>
                        <li>
                            Admin Controller
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1 style="color: white;">Main Content</h1>
        </div>
    </div>
</div>
