<div>
    <div class="row">
        <div id="sidePanelDiv" class="col-md-2">
            <div id="profileSection" class="row">
                <div class="col-md-12">
                    <div id="profilePicture">

                    </div>
                    <span style="color: white;"></span>{{userData.firstName}} {{userData.lastName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li *ngIf="userData.userRole === 'ADMIN'" (click)="sidePanelSelection = 0">
                            Dashboard
                        </li>
                        <li (click)="sidePanelSelection = 1">
                            Q&A Section
                        </li>
                        <li (click)="sidePanelSelection = 2">
                            Discussion Section
                        </li>
                        <li (click)="sidePanelSelection = 3">
                            Admin Controller
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <app-dashboard *ngIf="sidePanelSelection == 0"></app-dashboard>
            <app-qa-section *ngIf="sidePanelSelection == 1"></app-qa-section>
            <app-discussion-section *ngIf="sidePanelSelection == 2"></app-discussion-section>
            <app-admin-controller *ngIf="sidePanelSelection == 3"></app-admin-controller>
        </div>
    </div>
</div>
