#profileSection {
    height: 150px;
}

#profilePicture {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.example-container {
    background-image: url('./../../assets/img/login-page-bg.jpg');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/deep/
.mat-drawer-inner-container {
    background-color: #0d4254;
    overflow: hidden !important;
}

.toggleIcon {
    float: left;
    top: 40px;
    padding: 0;
    border-right-style: dotted;
    z-index: 999;
}

.sidepanel-section {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    color: white;
    align-content: center;
}

.sidepanel-section:hover {
    color: black;
    background-color: white !important;
}

.selectedSection {
    color: greenyellow;
}

.logoutButtonDiv, .logoutSessionsButtonDiv, .changePasswordDiv {
    text-align: left;
    padding-bottom: 5px;
}